/* .Game {
    display: flex;
} */

/* Header container */

/* Main content container */
.main-content-container {
    position: absolute;
    width: 100%;
    top: 52px;
    padding: 50px 0;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #2C3333;
    color: white;
}

.data-container {
    width: 70%;
}

.main-infor {
    display: flex;
}

.game-infor {
    display: flex;
    flex-direction: column;
}

.game-infor .game-title {
    font-size: 2rem;
    font-weight: 600;
}

.publisher {
    font-size: 1.3rem;
    font-weight: 600;
}

.developers {
    font-size: 1rem;
}

.cover-img {
    margin-right: 10px;
    height: 240px;
}

.cover-img img {
    width: 180px;
    height: 240px;
}

.background-img {
    z-index: 1;
}

.point-stars {
    display: flex;
    margin-bottom: 10px;
    align-items: center;
}

.point-stars img {
    width: 30px;
    height: 30px;
    margin-left: 10px;
}


.actions {
    display: flex;
    width: 70%;
    margin-top: 10px;
    align-items: center;
}

.buy-btn {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    color: #2C3333;
    padding: 5px 0;
    border-radius: 10px;
    width: 180px;
}

.buy-btn:hover {
    cursor: pointer;
}

.other-btns div {
    user-select: none;
    aspect-ratio: 1 / 1;
    background-color: white;
    width: 48px;
    height: 48px;
    margin-left: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
}

.other-btns div:hover {
    cursor: pointer;
}

.other-btns div img {
    width: 30px;
    height: 30px;
}

.details-reviews-container {
    display: flex;
    flex-direction: column;
    position: absolute;
    left: 0;
    top: 450px;
    width: 100%;
    align-items: center;
    padding: 50px 0;
    background-color: #302F2F;
    color: white;
}

.tags-container {
    display: flex;
    margin: 0 auto;
    margin-bottom: 30px;
}

.tag {
    font-size: 1.5rem;
    font-weight: 600;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.tag:hover {
    cursor: pointer;
}

.details-tag {
    margin-right: 30px;   
}

.reviews-tag {
    margin-right: 30px;
}

.tag-switch-tab {
    display: block;
    width: 0; /* Initially set to 0 width */
    height: 2px; /* Adjust the height as needed */
    border-radius: 1px;
    background-color: white;
    transition: width 0.3s ease;
    margin-top: 5px;
}

.tag:hover .tag-switch-tab {
    width: 30px;
}

.current-tag {
    width: 30px;
}

.close-btn {
    display: flex;
    position: absolute;
    top: 30%;
    right: 29.2%;
    z-index: 6;
    /* width: 10px;
    height: 10px; */
}

.close-btn:hover {
    cursor: pointer;
}

.close-btn img {
    width: 10px;
    height: 10px;
}

.order-summary {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 10px;
}

.order-summary-title {
    font-size: 1.5rem;
    font-weight: 600;
}

.order-summary-cover-img img {
    width: 180px;
    height: 240px;
}

.order-summary-game-title {
    font-weight: 600;
}

.Game .is-paying, .Game .is-sending-gift {
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100ch;
    z-index: 5;
    background-color: rgba(0, 0, 0, 0.5);
    align-items: center;
    justify-content: center;
}